.base {

}

.classSchedule {
    /* width: 70%;
    height: 80%; */
    display: grid;
    justify-items: stretch;
    align-items: stretch;
    justify-content: stretch;
    align-content: stretch;
    grid-template-columns: 70px 130px 130px 130px 130px 130px 130px 130px;
    grid-column-gap: 5px;
    grid-template-rows: repeat(31, 25px);
    /* grid-row-gap: 5px; */
    grid-template-areas: 
        "header header header header header header header header"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule"
        "sidebar schedule schedule schedule schedule schedule schedule schedule";

}

.weekDays {
    grid-area: header;
    margin-left: 70px;
    /* background-color: blue; */
}

.singleDay {
    width: 130px;
    text-align: center;
    padding-left: 5px;
}

.times {
    grid-area: sidebar;
    padding-top: 15px;
    /* background-color: green; */
}

.singleTime {
    height: 25px;
    text-align: end;
    padding-right: 5px;
}

.schedule {
    grid-area: schedule;
    /* background-color: red; */
    border: 1px solid black;

    background: repeating-linear-gradient(  
        to bottom,
        #D4D4D4,
        #D4D4D4 25px,
        #A9A9A9 25px,
        #A9A9A9 50px
    );
    background-size: 100%, 100%;
}

.classButton {
    margin-top: 25px;
}