.base {

}

.krav1 {
    background-color: yellow;
}

.krav2 {
    background-color: orange;
}

.krav3 {
    background-color: green;
}

.fitness {
    background-color: cyan;
}

.kickboxing {
    background-color: red;
}

.mittWork {
    background-color: blue;
}