
/* Flex Styles */

.flexColumn {
    display: flex;
    flex-direction: column;
}

.flexRow {
    display: flex;
    flex-direction: row;
}

.flexCenter {
    display: flex;
    justify-content: center;
}

.flexAround {
    display: flex;
    justify-content: space-around;
}

.flexEnd {
    display: flex;
    justify-content: flex-end;

}

.flexWrap {
    flex-wrap: wrap;
}

/* Margin Styles */

.margin1 {
    margin: 1%;
}

.margin2 {
    margin: 2%;
}

.margin3 {
    margin: 3%;
}

.margin5 {
    margin: 5%;
}

.marginLeft5 {
    margin-left: 5%;
}

.marginHAuto {
    margin-left: auto;
    margin-right: auto;
}

.marginTopAuto {
    margin-top: auto;
}

.marginLeftAuto {
    margin-left: auto;
}

/* Padding Styles */

.padding1 {
    padding: 1%;
}

/* Width Styles */

.width50 {
    width: 50%;
}

.width70 {
    width: 70%;
}